* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 10px; 
}

input {
    display: block;
    width: 100%;
    padding: 5px 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: dodgerblue;
}

.register-form {
    width: 300px;
    background-color: blueviolet;
    margin: 100px auto 0; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.register-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.register-form button {
    display: block;
    width: 100%;
    margin-top: 15px;
    background-color: cadetblue;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.register-form button:hover {
    background-color: #5F9EA0;
}